In [1]:
import os
import sys

import pandas as pd

module_path = os.path.abspath(os.path.join(".."))
sys.path.insert(0, module_path)


from planning.config import (  # noqa: E402
    employee_restrictions,
)
from planning.employee import (  # noqa: E402
    create_employees_with_dates,
    generate_summary_total,
    generate_transposed_excel_with_styles,
    init_employees_by_shifts,
    load_employees_from_yaml,
)

year = 2025
start_date = f"{year}-01-01"

employees_file = os.path.join("..", "..", "data", "2025", "case_1", "employees.yaml")
planning_file = os.path.join("..", "..", "data", "2025", "case_1", "data.xlsx")

employees = load_employees_from_yaml(employees_file, employee_restrictions)
employees_info, dates = create_employees_with_dates(start_date, 365, employees)
all_employees_by_shift = init_employees_by_shifts(dates, employee_restrictions)

In [2]:
planning_data = pd.read_excel(planning_file, index_col=0, na_filter=False, sheet_name=None)

planning_data

{'01':    1/1/25 2/1/25 3/1/25 4/1/25 5/1/25 6/1/25 7/1/25 8/1/25 9/1/25 10/1/25  \

         X      J      V      S      D      L      M      X      J       V
 E1             M      M      M      M             T      T      T
 E2             M      M      M      M             T      T      T
 E3      M             T      T      T      T                    M       M
 E4      M             T      T      T      T                    M       M
 E5      T      T                           M      M      M              T
 E6      T      T                           M      M      M              T

     ... 22/1/25 23/1/25 24/1/25 25/1/25 26/1/25 27/1/25 28/1/25 29/1/25  \
     ...
     ...       X       J       V       S       D       L       M       X
 E1  ...               M       M       M       M               T       T
 E2  ...               M       M       M       M               T       T
 E3  ...       M               T       T       T       T
 E4  ...       M               T       T       T       T
 E5  ...       T       T                               M       M       M
 E6  ...       T       T                               M       M       M

    30/1/25 31/1/25

          J       V
 E1       T
 E2       T
 E3       M       M
 E4       M       M
 E5               T
 E6               T

 [7 rows x 31 columns],
 '02':    1/2/25 2/2/25 3/2/25 4/2/25 5/2/85 6/2/25 7/2/25 8/2/25 9/2/25 10/2/25  \

         S      D      L      M      X      J      V      S      D       L
 E1                    M      M      M             T      T      T       T
 E2                    M      M      M             T      T      T       T
 E3      M      M             T      T      T                            M
 E4      M      M             T      T      T                            M
 E5      T      T      T                    M      M      M      M
 E6      T      T      T                    M      M      M      M

     ... 19/2/25 20/2/25 21/2/25 22/2/25 23/2/25 24/2/25 25/2/25 26/2/25  \
     ...
     ...       X       J       V       S       D       L       M       X
 E1  ...       T       T                               M       M       M
 E2  ...       T       T                               M       M       M
 E3  ...               M       M       M       M               T       T
 E4  ...               M       M       M       M               T       T
 E5  ...       M               T       T       T       T
 E6  ...       M               T       T       T       T

    27/2/25 28/2/25

          J       V
 E1               T
 E2               T
 E3       T
 E4       T
 E5       M       M
 E6       M       M

 [7 rows x 28 columns],
 '03':    1/3/25 2/3/25 3/3/25 4/3/25 5/3/25 6/3/25 7/3/25 8/3/25 9/3/25 10/3/25  \

         S      D      L      M      X      J      V      S      D       L
 E1      T      T      T                    M      M      M      M
 E2      T      T      T                    M      M      M      M
 E3                    M      M      M             T      T      T       T
 E4                    M      M      M             T      T      T       T
 E5      M      M             T      T      T                            M
 E6      M      M             T      T      T                            M

     ... 22/3/25 23/3/25 24/3/25 25/3/25 26/3/25 27/3/25 28/3/25 29/3/25  \
     ...
     ...       S       D       L       M       X       J       V       S
 E1  ...       T       T       T                       M       M       M
 E2  ...       T       T       T                       M       M       M
 E3  ...                       M       M       M               T       T
 E4  ...                       M       M       M               T       T
 E5  ...       M       M               T       T       T
 E6  ...       M       M               T       T       T

    30/3/25 31/3/25

          D       L
 E1       M
 E2       M
 E3       T       T
 E4       T       T
 E5               M
 E6               M

 [7 rows x 31 columns],
 '04':    1/4/25 2/4/25 3/4/25 4/4/25 5/4/25 6/4/25 7/4/25 8/4/25 9/4/25 10/4/25  \

         M      X      J      V      S      D      L      M      X       J
 E1      T      T      T                           M      M      M
 E2      T      T      T                           M      M      M
 E3                    M      M      M      M             T      T       T
 E4                    M      M      M      M             T      T       T
 E5      M      M             T      T      T      T                     M
 E6      M      M             T      T      T      T                     M

     ... 21/4/25 22/4/25 23/4/25 24/4/25 25/4/25 26/4/25 27/4/25 28/4/25  \
     ...
     ...       L       M       X       J       V       S       D       L
 E1  ...               T       T       T                               M
 E2  ...               T       T       T                               M
 E3  ...       T                       M       M       M       M
 E4  ...       T                       M       M       M       M
 E5  ...       M       M       M               T       T       T       T
 E6  ...       M       M       M               T       T       T       T

    29/4/25 30/4/25

          M       X
 E1       M       M
 E2       M       M
 E3       T       T
 E4       T       T
 E5
 E6

 [7 rows x 30 columns],
 '05':    1/5/25 2/5/25 3/5/25 4/5/25 5/5/25 6/5/25 7/5/25 8/5/25 9/5/25 10/5/25  \

         J      V      S      D      L      M      X      J      V       S
 E1             T      T      T      T                    M      M       M
 E2             T      T      T      T                    M      M       M
 E3      T                           M      M      M             T       T
 E4      T                           M      M      M             T       T
 E5      M      M      M      M             T      T      T
 E6      M      M      M      M             T      T      T

     ... 22/5/25 23/5/25 24/5/25 25/5/25 26/5/25 27/5/25 28/5/25 29/5/25  \
     ...
     ...       J       V       S       D       L       M       X       J
 E1  ...               T       T       T       T                       M
 E2  ...               T       T       T       T                       M
 E3  ...       T                               M       M       M
 E4  ...       T                               M       M       M
 E5  ...       M       M       M       M               T       T       T
 E6  ...       M       M       M       M               T       T       T

    30/5/25 31/5/25

          V       S
 E1       M       M
 E2       M       M
 E3       T       T
 E4       T       T
 E5
 E6

 [7 rows x 31 columns],
 '06':    1/6/25 2/6/25 3/6/25 4/6/25 5/6/25 6/6/25 7/6/25 8/6/25 9/6/25 10/6/25  \

         D      L      M      X      J      V      S      D      L       M
 E1      M             T      T      T                           M       M
 E2      M             T      T      T                           M       M
 E3      T      T                    M      M      M      M              T
 E4      T      T                    M      M      M      M              T
 E5             M      M      M             T      T      T      T
 E6             M      M      M             T      T      T      T

     ... 21/6/25 22/6/25 23/6/25 24/6/25 25/6/25 26/6/25 27/6/25 28/6/25  \
     ...
     ...       S       D       L       M       X       J       V       S
 E1  ...       M       M               T       T       T
 E2  ...       M       M               T       T       T
 E3  ...       T       T       T                       M       M       M
 E4  ...       T       T       T                       M       M       M
 E5  ...                       M       M       M               T       T
 E6  ...                       M       M       M               T       T

    29/6/25 30/6/25

          D       L
 E1               M
 E2               M
 E3       M
 E4       M
 E5       T       T
 E6       T       T

 [7 rows x 30 columns],
 '07':    1/7/25 2/7/25 3/7/25 4/7/25 5/7/25 6/7/25 7/7/25 8/7/25 9/7/25 10/7/25  \

         M      X      J      V      S      D      L      M      X       J
 E1      M      M             T      T      T      T                     M
 E2      M      M             T      T      T      T                     M
 E3      T      T      T                           M      M      M
 E4      T      T      T                           M      M      M
 E5                    M      M      M      M             T      T       T
 E6                    M      M      M      M             T      T       T

     ... 22/7/25 23/7/25 24/7/25 25/7/25 26/7/25 27/7/25 28/7/25 29/7/25  \
     ...
     ...       M       X       J       V       S       D       L       M
 E1  ...       M       M               T       T       T       T
 E2  ...       M       M               T       T       T       T
 E3  ...       T       T       T                               M       M
 E4  ...       T       T       T                               M       M
 E5  ...                       M       M       M       M               T
 E6  ...                       M       M       M       M               T

    30/7/25 31/7/25

          X       J
 E1               M
 E2               M
 E3       M
 E4       M
 E5       T       T
 E6       T       T

 [7 rows x 31 columns],
 '08':    1/8/25 2/8/25 3/8/25 4/8/25 5/8/25 6/8/25 7/8/25 8/8/25 9/8/25 10/8/25  \

         V      S      D      L      M      X      J      V      S       D
 E1      M      M      M             T      T      T
 E2      M      M      M             T      T      T
 E3      T      T      T      T                    M      M      M       M
 E4      T      T      T      T                    M      M      M       M
 E5                           M      M      M             T      T       T
 E6                           M      M      M             T      T       T

     ... 22/8/25 23/8/25 24/8/25 25/8/25 26/8/25 27/8/25 28/8/25 29/8/25  \
     ...
     ...       V       S       D       L       M       X       J       V
 E1  ...       M       M       M               T       T       T
 E2  ...       M       M       M               T       T       T
 E3  ...       T       T       T       T                       M       M
 E4  ...       T       T       T       T                       M       M
 E5  ...                               M       M       M               T
 E6  ...                               M       M       M               T

    30/8/25 31/8/25

          S       D
 E1
 E2
 E3       M       M
 E4       M       M
 E5       T       T
 E6       T       T

 [7 rows x 31 columns],
 '09':    1/9/25 2/9/25 3/9/25 4/9/25 5/9/25 6/9/25 7/9/25 8/9/25 9/9/25 10/9/25  \

         L      M      X      J      V      S      D      L      M       X
 E1      M      M      M             T      T      T      T
 E2      M      M      M             T      T      T      T
 E3             T      T      T                           M      M       M
 E4             T      T      T                           M      M       M
 E5      T                    M      M      M      M             T       T
 E6      T                    M      M      M      M             T       T

     ... 21/9/25 22/9/25 23/9/25 24/9/25 25/9/25 26/9/25 27/9/25 28/9/25  \
     ...
     ...       D       L       M       X       J       V       S       D
 E1  ...               M       M       M               T       T       T
 E2  ...               M       M       M               T       T       T
 E3  ...       M               T       T       T
 E4  ...       M               T       T       T
 E5  ...       T       T                       M       M       M       M
 E6  ...       T       T                       M       M       M       M

    29/9/25 30/9/25

          L       M
 E1       T
 E2       T
 E3       M       M
 E4       M       M
 E5               T
 E6               T

 [7 rows x 30 columns],
 '10':    1/10/25 2/10/25 3/10/25 4/10/25 5/10/25 6/10/25 7/10/25 8/10/25 9/10/25  \

          X       J       V       S       D       L       M       X       J
 E1               M       M       M       M               T       T       T
 E2               M       M       M       M               T       T       T
 E3       M               T       T       T       T                       M
 E4       M               T       T       T       T                       M
 E5       T       T                               M       M       M
 E6       T       T                               M       M       M

    10/10/25  ... 22/10/25 23/10/25 24/10/25 25/10/25 26/10/25 27/10/25  \
              ...
           V  ...        X        J        V        S        D        L
 E1           ...                 M        M        M        M
 E2           ...                 M        M        M        M
 E3        M  ...        M                 T        T        T        T
 E4        M  ...        M                 T        T        T        T
 E5        T  ...        T        T                                   M
 E6        T  ...        T        T                                   M

    28/10/25 29/10/25 30/10/25 31/10/25

           M        X        J        V
 E1        T        T        T
 E2        T        T        T
 E3                          M        M
 E4                          M        M
 E5        M        M                 T
 E6        M        M                 T

 [7 rows x 31 columns],
 '11':    1/11/25 2/11/25 3/11/25 4/11/25 5/11/25 6/11/25 7/11/25 8/11/25 9/11/25  \

          S       D       L       M       X       J       V       S       D
 E1                       M       M       M               T       T       T
 E2                       M       M       M               T       T       T
 E3       M       M               T       T       T
 E4       M       M               T       T       T
 E5       T       T       T                       M       M       M       M
 E6       T       T       T                       M       M       M       M

    10/11/25  ... 21/11/25 22/11/25 23/11/25 24/11/25 25/11/25 26/11/25  \
              ...
           L  ...        V        S        D        L        M        X
 E1        T  ...                                   M        M        M
 E2        T  ...                                   M        M        M
 E3        M  ...        M        M        M                 T        T
 E4        M  ...        M        M        M                 T        T
 E5           ...        T        T        T        T
 E6           ...        T        T        T        T

    27/11/25 28/11/25 29/11/25 30/11/25

           J        V        S        D
 E1                 T        T        T
 E2                 T        T        T
 E3        T
 E4        T
 E5        M        M        M        M
 E6        M        M        M        M

 [7 rows x 30 columns],
 '12':    1/12/25 2/12/25 3/12/25 4/12/25 5/12/25 6/12/25 7/12/25 8/12/25 9/12/25  \

          L       M       X       J       V       S       D       L       M
 E1       T                       M       M       M       M               T
 E2       T                       M       M       M       M               T
 E3       M       M       M               T       T       T       T
 E4       M       M       M               T       T       T       T
 E5               T       T       T                               M       M
 E6               T       T       T                               M       M

    10/12/25  ... 22/12/25 23/12/25 24/12/25 25/12/25 26/12/25 27/12/25  \
              ...
           X  ...        L        M        X        J        V        S
 E1        T  ...        T                          M        M        M
 E2        T  ...        T                          M        M        M
 E3           ...        M        M        M                 T        T
 E4           ...        M        M        M                 T        T
 E5        M  ...                 T        T        T
 E6        M  ...                 T        T        T

    28/12/25 29/12/25 30/12/25 31/12/25

           D        L        M        X
 E1        M                 T        T
 E2        M                 T        T
 E3        T        T
 E4        T        T
 E5                 M        M        M
 E6                 M        M        M

 [7 rows x 31 columns]}

In [3]:
total_data = generate_summary_total(employees, employee_restrictions, planning_data)

In [4]:
total_data

       THT     MHA  Diff

E1  1837.5  1852.5  15.0
E2  1837.5  1852.5  15.0
E3  1800.0  1852.5  52.5
E4  1800.0  1852.5  52.5
E5  1822.5  1852.5  30.0
E6  1822.5  1852.5  30.0

In [5]:
planning_data["12"]

,1/12/25,2/12/25,3/12/25,4/12/25,5/12/25,6/12/25,7/12/25,8/12/25,9/12/25,10/12/25,...,23/12/25,24/12/25,25/12/25,26/12/25,27/12/25,28/12/25,29/12/25,30/12/25,31/12/25,THT
,,,,,,,,,,,,,,,,,,,,,
,L,M,X,J,V,S,D,L,M,X,...,M,X,J,V,S,D,L,M,X,NaN
E1,T,,,M,M,M,M,,T,T,...,,,M,M,M,M,,T,T,157.5
E2,T,,,M,M,M,M,,T,T,...,,,M,M,M,M,,T,T,157.5
E3,M,M,M,,T,T,T,T,,,...,M,M,,T,T,T,T,,,157.5
E4,M,M,M,,T,T,T,T,,,...,M,M,,T,T,T,T,,,157.5
E5,,T,T,T,,,,M,M,M,...,T,T,T,,,,M,M,M,150.0
E6,,T,T,T,,,,M,M,M,...,T,T,T,,,,M,M,M,150.0

In [9]:
generate_transposed_excel_with_styles(planning_data["01"], employee_restrictions, f"samples/{year}_planning_0.xlsx")
with pd.ExcelWriter(f"samples/{year}_planning_0.xlsx", engine='xlsxwriter') as writer:
    startrow = 0
    for month, data in planning_data.items():
        data.to_excel(writer, sheet_name='Planning', startrow=startrow)
        startrow += data.shape[0] + 2  # Add 2 rows as a separator
    total_data.to_excel(writer, sheet_name='Total', startrow=0)